In [17]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [18]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [36]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [37]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

inspector = inspect(engine)

In [38]:
Base = automap_base()
# reflect an existing database into a new model
Base.prepare(engine, reflect=True)
# reflect the tables

In [47]:
# View all of the classes that automap found
inspector.get_table_names()

['measurement', 'station']

In [40]:
# getting column names using the inspector method

columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [23]:
# Save references to each table
measurement = Base.classes.measurement

station = Base.classes.station

In [46]:
engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [48]:
engine.execute('SELECT * FROM station LIMIT 5').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [29]:
# Create our session (link) from Python to the DB
session = Session(engine)

for row in session.query(measurement, measurement.station).limit(5).all():
    print(row)

(<sqlalchemy.ext.automap.measurement object at 0x7fd1e7bd5640>, 'USC00519397')
(<sqlalchemy.ext.automap.measurement object at 0x7fd1e7bd5130>, 'USC00519397')
(<sqlalchemy.ext.automap.measurement object at 0x7fd1e7bd5490>, 'USC00519397')
(<sqlalchemy.ext.automap.measurement object at 0x7fd1e7bd5850>, 'USC00519397')
(<sqlalchemy.ext.automap.measurement object at 0x7fd1e7bd5910>, 'USC00519397')

In [30]:
for row in session.query(station, station.station).limit(5):
    print(row)

(<sqlalchemy.ext.automap.station object at 0x7fd1e7bd50d0>, 'USC00519397')
(<sqlalchemy.ext.automap.station object at 0x7fd1e7bd59d0>, 'USC00513117')
(<sqlalchemy.ext.automap.station object at 0x7fd1e7bd59a0>, 'USC00514830')
(<sqlalchemy.ext.automap.station object at 0x7fd1e7bd5a90>, 'USC00517948')
(<sqlalchemy.ext.automap.station object at 0x7fd1e7bd5a30>, 'USC00518838')

In [34]:
station_count = session.query(measurement).group_by(measurement.station).count()
print(station_count)

9

# Exploratory Precipitation Analysis

In [32]:
# Find the most recent date in the data set.

groupby_date = session.query(measurement).group_by(measurement.date).count()
print(groupby_date)

2792

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()